<!DOCTYPE html>
    <html lang="zh-CN">
    <head>
    <title>启动日志</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!--<META HTTP-EQUIV="Refresh" content="10">-->

    </head>
    <body>

    <div class="container-fluid">
        <div class="row-fluid">
              <p>
              {{login_log}}
              </p>
        </div>
    <hr>

<script language="javascript">
setTimeout("self.location.reload();",5000);
</script>

    </div>

    </body>
    </html>
