<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>效果评估平台</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



 <meta http-equiv="Content Type" content="text/html" charset="utf-8" />
        <style>
               #container{
                   margin-left: 20%;
                   width:50%;
                   margin-top: 20%;
                   box-shadow: 101px 101px 51px #ffffff;
               }
               #content{
                   text-align: center;
               }
               input[type="text"] { width:200px; height:20px}
               input[type="submit"] {border-radius:25px; font-size:20px; width:200px; height:30px}

        </style>
  </head>

  <body>


<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">数据智能－效果评估平台</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
	 <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">login</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/speed">切换账号</a></li>
          </ul>
        </li>
      </ul>
          <!--<ul class="nav navbar-nav navbar-right">
	    <a href="#" class="navbar-link">login</a> <a href="/speed" class="navbar-link">切换账号</a>
          </ul>-->
          <form class="navbar-form navbar-right">
<!--            <input type="text" class="form-control" placeholder="Search...">-->
          </form>
        </div>
      </div>
    </nav>






<ul class="nav nav-pills">
  <li role="presentation"><a href="/login">效果评估</a></li>
  <li role="presentation"><a href="/double/{{username}}">效果比对</a></li>
  <li role="presentation" class="active"><a href="#panel-638225"  data-toggle="tab">历史记录</a></li>
  <li role="presentation"><a href="/diff/{{username}}">diff工具</a></li>
  <li role="presentation"><a href="/diffpress/{{username}}">diff性能工具</a></li>
</ul>

         <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


	 <h2 class="sub-header">效果评估纪录</h2>
	 <div class="tab-pane" id="panel-638225">
         <object class="table table-striped" data="/history" width="100%" height="300"></object>
         </div>
<!--	<iframe name="guanggao" onload="guanggao.scrollBy(0,999999)" id="guanggao" src="/history" width="100%" height="200" marginwidth="0" marginheight="0" allowtransparency="yes" frameborder="no">
	<script type="text/javascript"></script>
	</iframe>-->



         <h2 class="sub-header">效果对比纪录</h2>
	 <div class="tab-pane" id="panel-638225">
         <object class="table table-striped" data="/doublehistory" width="100%" height="300"></object>
         </div>
	<!--  <iframe name="guanggao" onload="guanggao.scrollBy(0,999999)" id="guanggao" src="/doublehistory" width="100%" height="200" marginwidth="0" marginheight="0" allowtransparency="yes" frameborder="no">
        <script type="text/javascript"></script>
        </iframe>-->
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

