<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>效果评估平台</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-combined.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>




 <meta http-equiv="Content Type" content="text/html" charset="utf-8" />
        <style>
               #container{
                   margin-left: 20%;
                   width:50%;
                   margin-top: 20%;
                   box-shadow: 101px 101px 51px #ffffff;
               }
               #content{
                   text-align: center;
               }
               input[type="text"] { width:200px; height:20px}
               input[type="submit"] {border-radius:25px; font-size:20px; width:200px; height:30px}

        </style>
  </head>

  <body>


<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
	
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
	 

</div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
	    <a href="#" class="navbar-link">login</a> <a href="/speed" class="navbar-link">切换账号</a>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>







<!--<ul class="nav nav-pills">
  <li role="presentation"><a href="#panel-638223"  data-toggle="tab">效果评估</a></li>
  <li role="presentation"><a href="#panel-638224"  data-toggle="tab">效果比对</a></li>
  <li role="presentation"><a href="#panel-638225"  data-toggle="tab">历史纪录</a></li>
  <li role="presentation"><a href="#panel-638226"  data-toggle="tab">diff工具</a></li>
</ul>
-->


	<div class="tab-pane" id="panel-638223">
        <object class="table table-striped" data="/login" width="100%" height="1000"></object>
        </div>
	<div class="tab-pane" id="panel-638224">
	<object class="table table-striped" data="/double/{{username}}" width="100%" height="1000"></object>
	</div>
	<div class="tab-pane" id="panel-638225">
	<object class="table table-striped" data="/history/{{username}}" width="100%" height="1000"></object>
	</div>
	<div class="tab-pane" id="panel-638226">
	<object class="table table-striped" data="http://10.6.3.117:9080/evaluate_online_offline_diff_input?doOldNewDiff=true" width="100%" height="1000"></object>
	</div>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

